table.wikitable {
    background-color: #2d2f34;
    color: #fff;
    border: 1px solid #36393f;
}

table.wikitable > tr > th,
table.wikitable > tr > td,
table.wikitable > * > tr > th,
table.wikitable > * > tr > td {
    border: 2px solid #36393f;
}

table.wikitable > tr > th,
table.wikitable > * > tr > th {
    background-color: #202225;
}

.mw-datatable {
    border: 1px solid #a2a9b1;
    border-collapse: collapse;
}

.mw-datatable td,
.mw-datatable th {
    border: 2px solid #36393f;
    padding: 0.2em 0.4em;
}

.mw-datatable th {
    background-color: #202225;
}

.mw-datatable td {
    background-color: #2d2f34;
}

.mw-datatable tr:hover td {
    background-color: #2f3136;
}
