/* Table of Contents */
.toc,
.mw-warning,
.toccolours {
    border: 1px solid #a2a9b1;
    background-color: #2f3136;
}

div.thumbinner {
    background-color: #2f3136;
    border: 1px solid #2d2f34;
}
