.mw-echo-ui-placeholderItemWidget {
  background-color: #36393f;
}

.mw-echo-ui-notificationItemWidget {
  background-color: #36393f;

  &:hover {
    background-color: #404349;
  }

  &-unread {
    background-color: #202225;

    &:hover {
      background-color: #313437;
    }
  }

  &-content {
    &-message {
      &-header {
        color: #ecf0f1;
      }
    }

    &-actions {
      &-timestamp {
        color: #ecf0f1;
      }
    }
  }
}

@-webkit-keyframes unseen-fadeout-to-unread {
  from {
    background-color: #484a4c;
  }

  to {
    background-color: #202225;
  }
}

@keyframes unseen-fadeout-to-unread {
  from {
    background-color: #484a4c;
  }

  to {
    background-color: #202225;
  }
}

@-webkit-keyframes unseen-fadeout-to-read {
  from {
    background-color: #484a4c;
  }

  to {
    background-color: #36393f;
  }
}

@keyframes unseen-fadeout-to-read {
  from {
    background-color: #484a4c;
  }

  to {
    background-color: #36393f;
  }
}
