div.flaggedrevs_short {
    border: 1px solid #2d2f34;
    background-color: #2f3136;
}

span.fr-under-review {
    background-color: #c0922e;
}

.flaggedrevs-unreviewed {
    background-color: #2f3136;
}